extends ../../layouts/ksasection

block section
    +add-title('Attitude: Curiosity')

    p.is-size-6-touch.is-size-4-desktop.
        Examining the inner machinations of things I see or perceive is integral to how I perceive myself as an individual.
        I feel restless unless I know how tools I use work, if I cannot realize the inner workings I will find out.
        Furthermore, I like to apply what I have learnt so that it becomes an integral part of my workflow.
        Take the web-page for this portfolio as an example.
        Although I have been working on a few web-pages for the last couple of months, I am constantly learning something new.
        I look up things I do not understand, and work with it until I do not need to second guess.

    p.is-size-6-touch.is-size-4-desktop.
        I also attribute my curiosity to my success in my studies.
        I had zero experience within my field &mdash; Computer Science &mdash; but every time I had an assignment it lead to a rabbit hole of reading.
        This is comparable to how I learn even more within my field nowadays, i.e. being a bit more experienced.
        I read almost a third of the articles I find on #[a(href='https://news.ycombinator.com' target='_blank' rel='noopener noreferrer') Hacker News] every day, totalling #[em 10] articles with an average length of #[em 650] words each.

    p.is-size-6-touch.is-size-4-desktop.
        Not only is this applicable to my own field of study, but to other ones as well.
        I have started to pick up on additive manifacturing techniques, such as 3D printing.
        I like to read and discuss philosophy with my friends, curious to know how other people think and what can be said beyond the "properness" of engineering.

    p.is-size-6-touch.is-size-4-desktop.
        One could almost say that I am a jack of all trades to some degree, and take pride in that.
        Of the top of my head I am studying and learning #[em 6] different fields in different organizations.
        I can only hope my curiosity does not die, as then my perception of myself would wither as well.
