extends ../../layouts/ksasection

block section
    p.is-size-6-touch.is-size-4-desktop.
        I never give up, look at this as a weakness or strength &mdash; I have heard both &mdash; but I never give up.
