extends ../../layouts/ksasection

block section
    +add-title('Persistency')

    p.is-size-6-touch.is-size-4-desktop.
        I never give up, look at this as a weakness or strength &mdash; I have heard both &mdash; but I never give up.
        When I start on a task I will do my absolute best to the end of the whole endevaour, I do not let it down.
        I am not trying to paint myself as a superhuman, I do occasionally fail at the tasks given, but I do not give up on the learning experience.
        If something goes wrong I analyze the situation, dissect it into parts where I can actually learn something from it.

    p.is-size-6-touch.is-size-4-desktop.
        As a fresh and concrete example of persistency I want to bring forward this Spring (2019).
        I started my position as the chief technology officer at #[a(href='https://tf.fi' target='_blank' rel='noopener noreferrer') Teknologföreningen].
        For me this was something completely new, a volunteer leadership position that in itself is a difficult task.
        I was told by peers that I would not be able to complete my Bachelor's thesis while volunteering for this position, but as of writing this I have already sent it in &mdash; with a pleased advisor nonetheless.
        Additionally, I have been able to commit to a full study schedule as well, i.e. #[em 4] courses each period, with my year ending with the estimated #[em +60] ECTS.
        This has not been an easy task at all, pushing me to my very limits as I simultaneously try to balance these with both my social and personal life.

    p.is-size-6-touch.is-size-4-desktop.
        An example of learning through failure would be my job-hunt from the Spring of 2019.
        Job applications have not only been sent out to multiple Finnish companies, but also ended up in destinations such as San Francisco.
        Many of these applications have demanded a proof of knowledge within Computer Science through various exercises and tests.
        These exercises have, on average, taken me #[em 2] full working days to complete, accounting for mailing and preparations.
        There have been many rounds of interviews, through which the answers have often been declanations.
        Yet I ever more confident each time I go for an interview, I have learnt from my mistakes, I do not get the shakes anymore.
