footer.footer.is-centered
    .content.has-text-centered
        p
            a.button.is-size-5-touch.is-size-4-desktop(href='' target='_blank' rel='noopener noreferrer')
                span.icon
                    i.fab.fa-github
