mixin add-tab(name, url)
    li&attributes(attributes)
        a(href=url)
            span= name

.section
    .tabs.is-centered.is-large
        ul
            +add-tab('Portfolio', '/')(id='nav-welcome')
            +add-tab('Author', '/author')(id='nav-author')
