.section.has-text-centered
    h1.title.is-uppercase.is-size-4-touch.is-size-1-desktop
        a.a-neergaard(href='https://neergaard.dev/' target='_blank' rel='noopener noreferrer')
            | Axel Neergaard
