.section
    .tabs.is-centered.is-medium
        ul
            li#nav-welcome
                a(href='/')
                    span
                        | Welcome!
            li#nav-author
                a(href='/author')
                    span
                        | Test
