extends ../../layouts/ksasection

block section
    +add-title('Arts')

    p.is-size-6-touch.is-size-4-desktop.
        For #[em 9] years I went to arts classes at #[a(href='https://emmamuseum.fi/' target='_blank' rel='noopener noreferrer') Emma].
        These were #[em 3] hour classes every week in addition to elementary studies.
        Altogether I have committed approximately #[em 729] hours to these additional art studies.
        Although my studies at Emma ended with my ascension to High School, I gained a lot from them.
        I have an eye for aesthetical aspects of everything I do, sometimes in high contrast to work from my peers.
        This has given me an edge on multiple occasions, such as during presentations, where I put myself in the position of listeners to gain a perspective on the visuals and excitement my presentation will give.

    p.is-size-6-touch.is-size-4-desktop.
        Some may consider that my field is on the opposite extreme from arts in general, dealing with cold logic that do not budge for artistic freedom.
        Personally I believe this to be a wrong mindset, programming includes a lot design thinking and creativity to solve problems.
        To think outside the box you cannot stay in only one mindset, to understand the user of your product you cannot assume implicit knowledge.
        To gain this perspective one has to be able to be able to alter their viewpoints, something I believe arts are really useful for.

    p.is-size-6-touch.is-size-4-desktop.
        I might not have become an oil painter or master of colors, but at least I know how to hold a brush and recognizing good color schemes.
        Many of friends have stated that something clicked in their heads once they knew I have participated in arts classes for such a long time.
        My favorite quote might be one of my close friends exlaiming:

    +add-quote('I freaking knew it!')

    p.is-size-6-touch.is-size-4-desktop.
        I have even been assumed to study at the School of Arts, simply due to my outfit.
        I think that already gives me a great edge compared to my peers; already from my looks someone might assume a broad skillset.
        At least art students are known for having a great sense of style.
