extends ../../layouts/ksasection

mixin add-paragraph()
    p.is-size-6-touch.is-size-4-desktop.

block section
    p.is-size-6-touch.is-size-4-desktop.
        Ever since my father introduced me to computerized graphics design from a young age, everything related to computers has been close to my heart.
        For 3 years through 7#[sup th] to 9#[sup th] grade I managed gaming servers for my friend group, without any prior knowledge in the area.
        The next 3 years throughout high school I started getting into the Linux environment, continuing to work on my Linux server and learning computer systems with my Raspberry Pi.

    p.is-size-6-touch.is-size-4-desktop.
        I did not have any prior programming experience before starting my university studies at Aalto University, yet I still have managed to accomplish much more than the average student.
        As of writing this I have managed to attained #[em 97] ECTS with an average of #[em 4.94 / 5] from courses directly related to Computer Science.

    p.is-size-6-touch.is-size-4-desktop.

    //- Course credits this far
        All languages
        All companies
        CTO position
