extends ../../layouts/ksasection

mixin add-list-link(url, text)
    li: a(href=url target='_blacnk' rel='noopener noreferrer')= text

block section
    p.is-size-6-touch.is-size-4-desktop.
        Ever since my father introduced me to computerized graphics design from a young age, everything related to computers has been close to my heart.
        For 3 years through 7#[sup th] to 9#[sup th] grade I managed gaming servers for my friend group, without any prior knowledge in the area.
        The next 3 years throughout high school I started getting into the Linux environment, continuing to work on my Linux server and learning computer systems with my Raspberry Pi.

    p.is-size-6-touch.is-size-4-desktop.
        I did not have any prior programming experience before starting my university studies at Aalto University, yet I have still managed to accomplish much more than the average student.
        As of writing this I have managed to attained #[em 97] ECTS with an average of #[em 4.94 / 5] from courses directly related to Computer Science.

    p.is-size-6-touch.is-size-4-desktop.
        Getting used to new techonologies is an everyday occurance within Computer Science and Software Engineering in general.
        If we look at programming languages I have learnt quite a few to the extent where I am comfortable stating #[em I know them].
        Altogether I would say that I know 7 languages in total, listed below:

    ul.is-size-6-touch.is-size-4-desktop
        +add-list-link('https://scala-lang.org/', 'Scala')
        +add-list-link('https://www.oracle.com/technetwork/java/index.html', 'Java')
        +add-list-link('https://en.wikipedia.org/wiki/C_%28programming_language%29', 'C')
        +add-list-link('https://isocpp.org/', 'C++')
        +add-list-link('https://www.python.org/', 'Python')
        +add-list-link('https://nodejs.org/en/', 'Node.js')
        +add-list-link('https://developer.mozilla.org/en-US/docs/Web/JavaScript', 'JavaScript')

    p.is-size-6-touch.is-size-4-desktop.
        Programming languages are not the only tools a Computer Scientist or Software Engineer needs, but tools for managing systems, integration, testing, and inter- and intra-communication.
        Such tools are integrated parts of my workflow, both within personal projects and group-projects.

    p.is-size-6-touch.is-size-4-desktop.

    //- CTO position
        Talk about how this enables you to create great products
