extends layouts/main

block content
    .content.is-medium
        | Axel Neergaard

    script.
        window.onload = () => {
            const getNavElem = (id) =>
                document
                    .getElementById(id)
                    .classList

            getNavElem('nav-author')
                .add('is-active')
            getNavElem('nav-welcome')
                .remove('is-active')
        }
