extends layouts/main

block content

    //main.bd-main
        .bd-main-container.container

            .bd-duo
                .bd-lead


    .content
        nav.bd-tabs
            .tabs.is-centered.is-medium
                ul
                    li.is-active
                        a
                            span
                                | Welcome!
                    li
                        a
                            span
                                | Test

    section.hero
        .hero-body


            .container
                .tile.is-ancestor

                    .tile.is-parent
                        .tile.is-child
                            .content.is-medium.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
