extends layouts/main

mixin add-title(title, url)
    h1.is-title.links.is-size-4-touch
        a.landing-page(href=url)= title

block content
    .content.is-medium.has-text-centered
        for link in links
            +add-title(link.ksa, '/' + link.url)
