html {
    background-color: #F0EAD6;
}

* {
    font-family: "Overpass", sans-serif;
}

.links {
    text-transform: uppercase;
}

.ksa-section {
    transition: color 0.2s, background-color 0.7s;
}
