extends ../../layouts/ksasection

block section
    p.is-size-6-mobile.is-size-4-desktop.
        Communication is an important aspect in everyday life, extending itself to all fields imaginable.
        Personally I always set communication to a high priority; conveying my own thoughts and feelings are extremely important to me &mdash; I want to be understood.
        When I phase a problem &mdash; professionally or personally &mdash; I always have a clear structure in mind for formatting my message.
        These structures have helped me countless times, and they are appreciated by my peers:

    +add-quote('Excellent explanation and progress on the matter!')
    +add-quote('Thank you for painting the picture so clearly!')

    p.is-size-6-mobile.is-size-4-desktop.
        Communication is a two-way channel, something that I never try to forget.
        Personally I would call myself a good listener, I give my full attention to others.

    p.is-size-6-mobile.is-size-4-desktop.
        I have also worked as a class assistant for a couple of courses at Aalto University.
        The classes were Programming 2 and Data Structures and Algorithms.
        The former course was extended course in programming, including topics such as:

    ul.is-size-6-mobile.is-size-4-desktop
        li functional programming
        li algorithmic design and analysis
        li performance measures of computer programs in practice
        li concepts of recursion

    p.is-size-6-mobile.is-size-4-desktop.
        The latter course is reverred as one the most difficult courses in the Computer Science Bachelor's program at Aalto University.
