extends ../../layouts/ksasection

block section
    +add-title('Teamwork and Leadership')

    p.is-size-6-touch.is-size-4-desktop.
        Teamwork is essential to all people oriented projects, both within product development and my own field of study, software engineering.
        When committing to a new group project I always try to initiate managerial tasks, such as suggesting communication channels, meeting times, and double-checking what has to be done.
        I have noticed that many team members appreciate this approach, where some received feedback has been the following:

    +add-quote('You always have the meta-tasks controlled.')
    +add-quote('I feel like you do some of the most work, you do a lot of management.')

    p.is-size-6-touch.is-size-4-desktop.
        The groups I have joined have also always succeeded well.
        In total I have participated in 8 group projects, varying in size &mdash; from 3 up to 8 &mdash; and project length &mdash; from a couple of months up to a year.

    p.is-size-6-touch.is-size-4-desktop.
        Outside of academia, I am in the positions of trust as the chief technology officer (CTO) and chief communications officer (CCO) at #[a(href='https://tf.fi' target='_blank' rel='noopener noreferrer') Teknologföreningen] &mdash; a Swedish speaking student society based in Otaniemi, Finland.
        In the position of CTO I maintain our IT-infrastructure &mdash; both upkeep and renewal &mdash; while being the head of our IT-department.
        In the position of CCO I manage the information flow within the society &mdash; update all of our news and information channels &mdash; while being the publisher of our nations own magazine, Modulen.
        The nation consists of up to 3000 members, about 400 members are currently active.
